body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    /* Start position is off the screen */
    background-color: #2ecc71;
    /* Emerald green background */
    overflow-x: hidden;
    padding-top: 60px;
    /* Adjusted to account for header height */
    transition: 0.5s;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
}

.sidenav.show {
    left: 0;
    /* Show the sidebar */
}

.sidenav a {
    padding: 15px 20px;
    text-decoration: none;
    font-size: 18px;
    color: #ffffff;
    /* White text */
    display: block;
    transition: 0.3s;
    border-radius: 0 25px 25px 0;
}

.sidenav a i {
    margin-right: 10px;
}

.sidenav a:hover {
    background-color: #27ae60;
    cursor: pointer;
    /* Darker green background on hover */
}

.sidenav .closebtn:hover {
    cursor: pointer;
}

.sidenav .closebtn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    margin-left: 50px;
    color: #ffffff;
}

.main {
    margin-left: 0;
    padding: 15px;
    transition: margin-left 0.5s;
}

.main.shifted {
    margin-left: 250px;
    /* Shift main content when sidebar is open */
}

.hide {
    display: none;
    /* Hide the element */
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 50px;
        /* Adjusted for smaller screens */
    }
    .sidenav a {
        font-size: 16px;
    }
}